streamlit
python-dotenv
requests
aiosqlite

langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langchain-mcp-adapters
langgraph
langgraph-checkpoint-sqlite

openai
faiss-cpu
pypdf
duckduckgo-search

fastmcp
